@primary-color: #1790e4;
@primary-deep-color: #0c4999;
@primary-light-color: #18ebfe;

@subpage-bg: #fff;

/**
 * 状态颜色
 ----------------------------*/
@link-color: #0c4999;
@success-color: #1790e4;
@warning-color: #ff6106;
@error-color: #ed2c4b;
@disabled-color: #8d8d8d;
@hover-selected: rgba(12, 73, 153, 0.06);

/**
 * 边框
 ----------------------------*/
@border-radius-base: 2px;
@border-color-base: #d8d8d8;
@border-color-light: #e2e6e9;
@table-border-color: @border-color-light;

/**
 * 文字
 ----------------------------*/
@font-size-base: 12px;
@text-color: #67717a;
@text-color-sub: #8d8d8d;
@text-color-dark: #35393f;
@text-color-light: #919da3;
@text-color-white: white;

/**
 * 表格
 ----------------------------*/
@item-hover-bg: @hover-selected;
@table-row-hover-bg: @hover-selected;
@custo-table-border-color: #edf0f4;
@subpage-table-bg: #fff;

/**
 * 自定义组件
 ----------------------------*/
@tips-color-light: #919da3;
@dot-out-bg: #d7e6ff;
@dot-inner-bg: #3880ff;
@time-line-bg: #fafafa;
@chart-item-blue: #1790e4;
@chart-item-green: #b2d66f;
@chart-item-blue: #ffc156;
@card-item-bg: #f8fbff;

/**
 * 其他配置
 ----------------------------*/
@transition-config: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
@box-shadow-out: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
  0 9px 28px 8px #0000000d;
